In [1]:
import pandas as pd
import numpy as np
import os
pd.options.display.max_columns = None

# Clean & manipulate 'events' data

In [2]:
events = pd.read_csv('../data/cleaned-data/events.csv', low_memory=False)

In [3]:
events

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,team,duration,tactics,related_events,player,position,location,pass,carry,under_pressure,dribble,ball_receipt,out,clearance,duel,miscontrol,shot,goalkeeper,counterpress,ball_recovery,foul_won,off_camera,foul_committed,block,interception,substitution,bad_behaviour,match_id,50_50,injury_stoppage,half_start,player_off,half_end,season_name
0,62fcd4a2-94ed-42f0-9c4e-d994ae217440,1,1,2020-09-30 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 217, 'name': 'Barcelona'}",0.000000,"{'formation': 442, 'lineup': [{'player': {'id'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9592,NaN,NaN,NaN,NaN,NaN,2017/2018
1,dcd47e2f-6a76-499e-abee-413417bd067e,2,1,2020-09-30 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 214, 'name': 'Espanyol'}",0.000000,"{'formation': 442, 'lineup': [{'player': {'id'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9592,NaN,NaN,NaN,NaN,NaN,2017/2018
2,1d6e44c2-fb77-479e-bb98-851952e9b3f9,3,1,2020-09-30 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 214, 'name': 'Espanyol'}",0.000000,NaN,['d8eaa47d-d089-45a6-b3b4-a59ab8f65a6a'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9592,NaN,NaN,NaN,NaN,NaN,2017/2018
3,d8eaa47d-d089-45a6-b3b4-a59ab8f65a6a,4,1,2020-09-30 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 217, 'name': 'Barcelona'}",0.000000,NaN,['1d6e44c2-fb77-479e-bb98-851952e9b3f9'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9592,NaN,NaN,NaN,NaN,NaN,2017/2018
4,547584c5-1b05-46ce-b61a-cd124d20b385,5,1,2020-09-30 00:00:07.279,0,7,"{'id': 30, 'name': 'Pass'}",2,"{'id': 217, 'name': 'Barcelona'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 217, 'name': 'Barcelona'}",0.806000,NaN,['40265cdf-29b5-4e8a-8e9d-1d53a750ff51'],"{'id': 5246, 'name': 'Luis Alberto Suárez Díaz'}","{'id': 24, 'name': 'Left Center Forward'}","[61.0, 41.0]","{'recipient': {'id': 5203, 'name': 'Sergio Bus...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9592,NaN,NaN,NaN,NaN,NaN,2017/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825454,bbcfd05f-b1b3-4c8c-8164-131f66073442,3686,2,2020-09-30 00:46:56.334,91,56,"{'id': 10, 'name': 'Interception'}",184,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 322, 'name': 'Eibar'}",0.000000,NaN,['9bbe3056-7489-489d-bfbb-0bb98730bb66'],"{'id': 7105, 'name': 'Fabián Ariel Orellana Va...","{'id': 17, 'name': 'Right Wing'}","[40.5, 53.8]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'outcome': {'id': 16, 'name': 'Success In Pla...",NaN,NaN,303731,NaN,NaN,NaN,NaN,NaN,2019/2020
1825455,b83338c5-c933-4b5c-b7c5-74a59a1a105b,3687,2,2020-09-30 00:46:57.568,91,57,"{'id': 30, 'name': 'Pass'}",184,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 322, 'name': 'Eibar'}",0.782868,NaN,['cb770319-a70c-4798-8933-fbda94906281'],"{'id': 23803, 'name': 'Esteban Rodrigo Burgos'}","{'id': 3, 'name': 'Right Center Back'}","[33.9, 50.0]","{'recipient': {'id': 6712, 'name': 'Gonzalo Es...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,303731,NaN,NaN,NaN,NaN,NaN,2019/2020
1825456,cb770319-a70c-4798-8933-fbda94906281,3688,2,2020-09-30 00:46:58.351,91,58,"{'id': 42, 'name': 'Ball Receipt*'}",184,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 322, 'name': 'Eibar'}",NaN,NaN,['b83338c5-c933-4b5c-b7c5-74a59a1a105b'],"{'id': 6712, 'name': 'Gonzalo Escalante'}","{'id': 19, 'name': 'Center Attacking Midfield'}","[38.6, 57.7]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,303731,NaN,NaN,NaN,NaN,NaN,2019/2020
1825457,57bc9f35-41c3-40bb-848e-815d4086a3f1,3689,2,2020-09-30 00:46:59.381,91,59,"{'id': 34, 'name': 'Half End'}",184,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 217, 'name': 'Barcelona'}",0.000000,NaN,['e14c793b-e5a0-4b19-9159-62a34a881d80'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,303731,NaN,NaN,NaN,NaN,NaN,2019/2020
1825458,e14c793b-e5a0-4b19-9159-62a34a881d80,3690,2,2020-09-30 00:46:59.381,91,59,"{'id': 34, 'name': 'Half End'}",184,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 322, 'name': 'Eibar'}",0.000000,NaN,['57bc9f35-41c3-40bb-848e-815d4086a3f1'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,303731,NaN,NaN,NaN,NaN,NaN,2019/2020

I will split the 'events' dataframe into subset dataframes for each season, to hopefully make the data cleaning process quicker...

In [4]:
season_list = events['season_name'].unique()
season_list

array(['2017/2018', '2016/2017', '2009/2010', '2010/2011', '2011/2012',
       '2012/2013', '2013/2014', '2014/2015', '2015/2016', '2004/2005',
       '2005/2006', '2006/2007', '2018/2019', '2007/2008', '2008/2009',
       '2019/2020'], dtype=object)

In [5]:
events20042005 = events[events['season_name'] == '2004/2005']
events20052006 = events[events['season_name'] == '2005/2006']
events20062007 = events[events['season_name'] == '2006/2007']
events20072008 = events[events['season_name'] == '2007/2008']
events20082009 = events[events['season_name'] == '2008/2009']
events20092010 = events[events['season_name'] == '2009/2010']
events20102011 = events[events['season_name'] == '2010/2011']
events20112012 = events[events['season_name'] == '2011/2012']
events20122013 = events[events['season_name'] == '2012/2013']
events20132014 = events[events['season_name'] == '2013/2014']
events20142015 = events[events['season_name'] == '2014/2015']
events20152016 = events[events['season_name'] == '2015/2016']
events20162017 = events[events['season_name'] == '2016/2017']
events20172018 = events[events['season_name'] == '2017/2018']
events20182019 = events[events['season_name'] == '2018/2019']
events20192020 = events[events['season_name'] == '2019/2020']

I tried to find a way of automating this process, but couldn't find anything suitable.

## Data cleaning

We will take a look at one of the season subsets, expanding any columns that contain dictionaries, then deleting any unwanted columns. We can then carry out the same process on the other subsets, before combining them back together into one large dataframe.

We'll carry out initial cleaning on the 2018/2019 season subset, because the early seasons contain considerable fewer matches, and the 2019/2020 season was somewhat of an anomaly due to the COVID-19 pandemic...

In [6]:
events20182019

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,team,duration,tactics,related_events,player,position,location,pass,carry,under_pressure,dribble,ball_receipt,out,clearance,duel,miscontrol,shot,goalkeeper,counterpress,ball_recovery,foul_won,off_camera,foul_committed,block,interception,substitution,bad_behaviour,match_id,50_50,injury_stoppage,half_start,player_off,half_end,season_name
1353237,41c370df-e684-4c08-a70e-b1fe4ccfce25,1,1,2020-09-30 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 217, 'name': 'Barcelona'}",0.000000,"{'formation': 433, 'lineup': [{'player': {'id'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16157,NaN,NaN,NaN,NaN,NaN,2018/2019
1353238,7aee1529-ec45-4df3-8e90-7305381f119e,2,1,2020-09-30 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 207, 'name': 'Valencia'}",0.000000,"{'formation': 442, 'lineup': [{'player': {'id'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16157,NaN,NaN,NaN,NaN,NaN,2018/2019
1353239,90230d70-9d63-40aa-a70f-7a921552c687,3,1,2020-09-30 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 207, 'name': 'Valencia'}",0.000000,NaN,['c1665939-5715-4df2-86fb-e4df9bf42e88'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16157,NaN,NaN,NaN,NaN,NaN,2018/2019
1353240,c1665939-5715-4df2-86fb-e4df9bf42e88,4,1,2020-09-30 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 217, 'name': 'Barcelona'}",0.000000,NaN,['90230d70-9d63-40aa-a70f-7a921552c687'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16157,NaN,NaN,NaN,NaN,NaN,2018/2019
1353241,362d3a69-2625-46df-a727-53089dc0cf4b,5,1,2020-09-30 00:00:00.985,0,0,"{'id': 30, 'name': 'Pass'}",2,"{'id': 207, 'name': 'Valencia'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 207, 'name': 'Valencia'}",1.269367,NaN,['41698dda-90cb-423f-8537-f3d12b6b7119'],"{'id': 6401, 'name': 'Kevin Gameiro'}","{'id': 24, 'name': 'Left Center Forward'}","[61.0, 41.0]","{'recipient': {'id': 6595, 'name': 'Daniel Par...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16157,NaN,NaN,NaN,NaN,NaN,2018/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488621,31df0f32-eadd-4da9-b248-807acf9ce318,3713,2,2020-09-30 00:48:54.316,93,54,"{'id': 42, 'name': 'Ball Receipt*'}",177,"{'id': 213, 'name': 'Sevilla'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 213, 'name': 'Sevilla'}",NaN,NaN,['fa97e5e6-f871-4d32-af5a-4ad3bdbc303e'],"{'id': 5504, 'name': 'Éver Maximiliano David B...","{'id': 11, 'name': 'Left Defensive Midfield'}","[41.0, 42.0]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16190,NaN,NaN,NaN,NaN,NaN,2018/2019
1488622,e87a7724-ca3d-457a-b999-f8c2fbf1eb5b,3714,2,2020-09-30 00:48:56.367,93,56,"{'id': 30, 'name': 'Pass'}",177,"{'id': 213, 'name': 'Sevilla'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 213, 'name': 'Sevilla'}",3.141593,NaN,['bea89a05-57d6-4d64-8566-672db2fff54e'],"{'id': 5504, 'name': 'Éver Maximiliano David B...","{'id': 11, 'name': 'Left Defensive Midfield'}","[41.0, 42.0]","{'recipient': {'id': 6723, 'name': 'Wissam Ben...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,16190,NaN,NaN,NaN,NaN,NaN,2018/2019
1488623,bea89a05-57d6-4d64-8566-672db2fff54e,3715,2,2020-09-30 00:48:59.508,93,59,"{'id': 42, 'name': 'Ball Receipt*'}",177,"{'id': 213, 'name': 'Sevilla'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 213, 'name': 'Sevilla'}",NaN,NaN,['e87a7724-ca3d-457a-b999-f8c2fbf1eb5b'],"{'id': 6723, 'name': 'Wissam Ben Yedder'}","{'id': 23, 'name': 'Center Forward'}","[86.0, 24.0]",NaN,NaN,NaN,NaN,"{'outcome': {'id': 9, 'name': 'Incomplete'}}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16190,NaN,NaN,NaN,NaN,NaN,2018/2019
1488624,42ee3232-a509-4ad6-a430-fdb42ee4d4ef,3716,2,2020-09-30 00:49:05.620,94,5,"{'id': 34, 'name': 'Half End'}",177,"{'id': 213, 'name': 'Sevilla'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 213, 'name': 'Sevilla'}",0.000000,NaN,['84f1a236-68ba-41e6-9bf6-26fb709c8fd0'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16190,NaN,NaN,NaN,NaN,NaN,2018/2019
1488625,84f1a236-68ba-41e6-9bf6-26fb709c8fd0,3717,2,2020-09-30 00:49:05.620,94,5,"{'id': 34, 'name': 'Half End'}",177,"{'id': 213, 'name': 'Sevilla'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 217, 'name': 'Barcelona'}",0.000000,NaN,['42ee3232-a509-4ad6-a430-fdb42ee4d4ef'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16190,NaN,NaN,NaN,NaN,NaN,2018/2019

Move 'match_id' & 'season_name' columns to the front of the dataframe...

In [7]:
col_name2='match_id'
second_col = events20182019.pop(col_name2)
events20182019.insert(0, col_name2, second_col)
col_name='season_name'
first_col = events20182019.pop(col_name)
events20182019.insert(0, col_name, first_col)

Look into null values as a percentage of dataframe...

In [8]:
events20182019.isnull().sum()/len(events20182019)

season_name        0.000000
match_id           0.000000
id                 0.000000
index              0.000000
period             0.000000
timestamp          0.000000
minute             0.000000
second             0.000000
type               0.000000
possession         0.000000
possession_team    0.000000
play_pattern       0.000000
team               0.000000
duration           0.267740
tactics            0.998877
related_events     0.035904
player             0.003841
position           0.003841
location           0.006241
pass               0.723803
carry              0.763171
under_pressure     0.786763
dribble            0.990073
ball_receipt       0.964428
out                0.996632
clearance          0.994763
duel               0.987333
miscontrol         0.999860
shot               0.993463
goalkeeper         0.992599
counterpress       0.970699
ball_recovery      0.998501
foul_won           0.997459
off_camera         0.989807
foul_committed     0.997629
block              0.999402
interception       0.994837
substitution       0.998523
bad_behaviour      0.999697
50_50              0.999764
injury_stoppage    0.999941
half_start         0.999985
player_off         1.000000
half_end           1.000000
dtype: float64

There are a lot of null values in the dataframe, but this was expected so we won't delete columns based on high null counts just yet.

First batch of column drops...

In [9]:
events20182019 = events20182019.drop(columns=['timestamp', 'possession', 'possession_team'])

First phase of expanding columns that contain dictionaries...

In [10]:
events20182019

,season_name,match_id,id,index,period,minute,second,type,play_pattern,team,duration,tactics,related_events,player,position,location,pass,carry,under_pressure,dribble,ball_receipt,out,clearance,duel,miscontrol,shot,goalkeeper,counterpress,ball_recovery,foul_won,off_camera,foul_committed,block,interception,substitution,bad_behaviour,50_50,injury_stoppage,half_start,player_off,half_end
1353237,2018/2019,16157,41c370df-e684-4c08-a70e-b1fe4ccfce25,1,1,0,0,"{'id': 35, 'name': 'Starting XI'}","{'id': 1, 'name': 'Regular Play'}","{'id': 217, 'name': 'Barcelona'}",0.000000,"{'formation': 433, 'lineup': [{'player': {'id'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353238,2018/2019,16157,7aee1529-ec45-4df3-8e90-7305381f119e,2,1,0,0,"{'id': 35, 'name': 'Starting XI'}","{'id': 1, 'name': 'Regular Play'}","{'id': 207, 'name': 'Valencia'}",0.000000,"{'formation': 442, 'lineup': [{'player': {'id'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353239,2018/2019,16157,90230d70-9d63-40aa-a70f-7a921552c687,3,1,0,0,"{'id': 18, 'name': 'Half Start'}","{'id': 1, 'name': 'Regular Play'}","{'id': 207, 'name': 'Valencia'}",0.000000,NaN,['c1665939-5715-4df2-86fb-e4df9bf42e88'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353240,2018/2019,16157,c1665939-5715-4df2-86fb-e4df9bf42e88,4,1,0,0,"{'id': 18, 'name': 'Half Start'}","{'id': 1, 'name': 'Regular Play'}","{'id': 217, 'name': 'Barcelona'}",0.000000,NaN,['90230d70-9d63-40aa-a70f-7a921552c687'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353241,2018/2019,16157,362d3a69-2625-46df-a727-53089dc0cf4b,5,1,0,0,"{'id': 30, 'name': 'Pass'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 207, 'name': 'Valencia'}",1.269367,NaN,['41698dda-90cb-423f-8537-f3d12b6b7119'],"{'id': 6401, 'name': 'Kevin Gameiro'}","{'id': 24, 'name': 'Left Center Forward'}","[61.0, 41.0]","{'recipient': {'id': 6595, 'name': 'Daniel Par...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488621,2018/2019,16190,31df0f32-eadd-4da9-b248-807acf9ce318,3713,2,93,54,"{'id': 42, 'name': 'Ball Receipt*'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 213, 'name': 'Sevilla'}",NaN,NaN,['fa97e5e6-f871-4d32-af5a-4ad3bdbc303e'],"{'id': 5504, 'name': 'Éver Maximiliano David B...","{'id': 11, 'name': 'Left Defensive Midfield'}","[41.0, 42.0]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488622,2018/2019,16190,e87a7724-ca3d-457a-b999-f8c2fbf1eb5b,3714,2,93,56,"{'id': 30, 'name': 'Pass'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 213, 'name': 'Sevilla'}",3.141593,NaN,['bea89a05-57d6-4d64-8566-672db2fff54e'],"{'id': 5504, 'name': 'Éver Maximiliano David B...","{'id': 11, 'name': 'Left Defensive Midfield'}","[41.0, 42.0]","{'recipient': {'id': 6723, 'name': 'Wissam Ben...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488623,2018/2019,16190,bea89a05-57d6-4d64-8566-672db2fff54e,3715,2,93,59,"{'id': 42, 'name': 'Ball Receipt*'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 213, 'name': 'Sevilla'}",NaN,NaN,['e87a7724-ca3d-457a-b999-f8c2fbf1eb5b'],"{'id': 6723, 'name': 'Wissam Ben Yedder'}","{'id': 23, 'name': 'Center Forward'}","[86.0, 24.0]",NaN,NaN,NaN,NaN,"{'outcome': {'id': 9, 'name': 'Incomplete'}}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488624,2018/2019,16190,42ee3232-a509-4ad6-a430-fdb42ee4d4ef,3716,2,94,5,"{'id': 34, 'name': 'Half End'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 213, 'name': 'Sevilla'}",0.000000,NaN,['84f1a236-68ba-41e6-9bf6-26fb709c8fd0'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488625,2018/2019,16190,84f1a236-68ba-41e6-9bf6-26fb709c8fd0,3717,2,94,5,"{'id': 34, 'name': 'Half End'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 217, 'name': 'Barcelona'}",0.000000,NaN,['42ee3232-a509-4ad6-a430-fdb42ee4d4ef'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
type_df = events20182019['type'].apply(pd.Series)
play_pattern_df = events20182019['play_pattern'].apply(pd.Series)
team_df = events20182019['team'].apply(pd.Series)
player_df = events20182019['player'].apply(pd.Series)
position_df = events20182019['position'].apply(pd.Series)

In [12]:
type_df['type_id'] = type_df[0].apply(lambda x: eval(x)['id'])
type_df['type_name'] = type_df[0].apply(lambda x: eval(x)['name'])
type_df = type_df.drop([0], axis=1)
play_pattern_df['play_pattern_id'] = play_pattern_df[0].apply(lambda x: eval(x)['id'])
play_pattern_df['play_pattern_name'] = play_pattern_df[0].apply(lambda x: eval(x)['name'])
play_pattern_df = play_pattern_df.drop([0], axis=1)
team_df['team_id'] = team_df[0].apply(lambda x: eval(x)['id'])
team_df['team_name'] = team_df[0].apply(lambda x: eval(x)['name'])
team_df = team_df.drop([0], axis=1)

The 'eval' function doesn't work on the 'player_df' and 'position_df' subsets due to the prescence of null values. Therefore, we will change the null values in these columns to zero before splitting them...

In [13]:
player_df[0] = player_df[0].fillna(str({'id': 0, 'name': 0}))
position_df[0] = position_df[0].fillna(str({'id': 0, 'name': 0}))

In [14]:
player_df['player_id'] = player_df[0].apply(lambda x: eval(x)['id'])
player_df['player_name'] = player_df[0].apply(lambda x: eval(x)['name'])
player_df = player_df.drop([0], axis=1)
position_df['position_id'] = position_df[0].apply(lambda x: eval(x)['id'])
position_df['position_name'] = position_df[0].apply(lambda x: eval(x)['name'])
position_df = position_df.drop([0], axis=1)

The 'tactics' column is more complicated than the columns we have split above, so we'll look at that one separately now...

In [15]:
tactics_df = events20182019[['match_id', 'tactics']]
tactics_df['tactics'] = tactics_df['tactics'].fillna(str({'formation': 0, 'lineup': 0}))
tactics_df

C:\Users\paul_\anaconda3\envs\matrix\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         match_id                                            tactics
1353237     16157  {'formation': 433, 'lineup': [{'player': {'id'...
1353238     16157  {'formation': 442, 'lineup': [{'player': {'id'...
1353239     16157                      {'formation': 0, 'lineup': 0}
1353240     16157                      {'formation': 0, 'lineup': 0}
1353241     16157                      {'formation': 0, 'lineup': 0}
...           ...                                                ...
1488621     16190                      {'formation': 0, 'lineup': 0}
1488622     16190                      {'formation': 0, 'lineup': 0}
1488623     16190                      {'formation': 0, 'lineup': 0}
1488624     16190                      {'formation': 0, 'lineup': 0}
1488625     16190                      {'formation': 0, 'lineup': 0}

[135389 rows x 2 columns]

In [16]:
tactics_df['tactics'] = tactics_df['tactics'].apply(pd.Series)

C:\Users\paul_\anaconda3\envs\matrix\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
tactics_df

         match_id                                            tactics
1353237     16157  {'formation': 433, 'lineup': [{'player': {'id'...
1353238     16157  {'formation': 442, 'lineup': [{'player': {'id'...
1353239     16157                      {'formation': 0, 'lineup': 0}
1353240     16157                      {'formation': 0, 'lineup': 0}
1353241     16157                      {'formation': 0, 'lineup': 0}
...           ...                                                ...
1488621     16190                      {'formation': 0, 'lineup': 0}
1488622     16190                      {'formation': 0, 'lineup': 0}
1488623     16190                      {'formation': 0, 'lineup': 0}
1488624     16190                      {'formation': 0, 'lineup': 0}
1488625     16190                      {'formation': 0, 'lineup': 0}

[135389 rows x 2 columns]

In [18]:
import ast

In [19]:
tactics_df['tactics'] = [ast.literal_eval(i) for i in tactics_df['tactics']]

C:\Users\paul_\anaconda3\envs\matrix\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
tactics_df

         match_id                                            tactics
1353237     16157  {'formation': 433, 'lineup': [{'player': {'id'...
1353238     16157  {'formation': 442, 'lineup': [{'player': {'id'...
1353239     16157                      {'formation': 0, 'lineup': 0}
1353240     16157                      {'formation': 0, 'lineup': 0}
1353241     16157                      {'formation': 0, 'lineup': 0}
...           ...                                                ...
1488621     16190                      {'formation': 0, 'lineup': 0}
1488622     16190                      {'formation': 0, 'lineup': 0}
1488623     16190                      {'formation': 0, 'lineup': 0}
1488624     16190                      {'formation': 0, 'lineup': 0}
1488625     16190                      {'formation': 0, 'lineup': 0}

[135389 rows x 2 columns]

In [21]:
tactics_df['formation'] = [tactics_df['tactics'].iloc[i]['formation'] for i in range(len(tactics_df['tactics']))]
tactics_df['lineup'] = [tactics_df['tactics'].iloc[i]['lineup'] for i in range(len(tactics_df['tactics']))]

C:\Users\paul_\anaconda3\envs\matrix\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\paul_\anaconda3\envs\matrix\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
tactics_df

,match_id,tactics,formation,lineup
1353237,16157,"{'formation': 433, 'lineup': [{'player': {'id'...",433,"[{'player': {'id': 20055, 'name': 'Marc-André ..."
1353238,16157,"{'formation': 442, 'lineup': [{'player': {'id'...",442,"[{'player': {'id': 6590, 'name': 'Norberto Mur..."
1353239,16157,"{'formation': 0, 'lineup': 0}",0,0
1353240,16157,"{'formation': 0, 'lineup': 0}",0,0
1353241,16157,"{'formation': 0, 'lineup': 0}",0,0
...,...,...,...,...
1488621,16190,"{'formation': 0, 'lineup': 0}",0,0
1488622,16190,"{'formation': 0, 'lineup': 0}",0,0
1488623,16190,"{'formation': 0, 'lineup': 0}",0,0
1488624,16190,"{'formation': 0, 'lineup': 0}",0,0
1488625,16190,"{'formation': 0, 'lineup': 0}",0,0

In [23]:
tactics_player_split = tactics_df['lineup'].apply(pd.Series).add_prefix('player_')

In [24]:
tactics_player_split

,player_0,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9,player_10
1353237,"{'player': {'id': 20055, 'name': 'Marc-André t...","{'player': {'id': 6374, 'name': 'Nélson Cabral...","{'player': {'id': 5213, 'name': 'Gerard Piqué ...","{'player': {'id': 6332, 'name': 'Thomas Vermae...","{'player': {'id': 6379, 'name': 'Sergi Roberto...","{'player': {'id': 5470, 'name': 'Ivan Rakitić'...","{'player': {'id': 13599, 'name': 'Carles Aleña...","{'player': {'id': 8206, 'name': 'Arturo Erasmo...","{'player': {'id': 5503, 'name': 'Lionel Andrés...","{'player': {'id': 3501, 'name': 'Philippe Cout...","{'player': {'id': 5246, 'name': 'Luis Alberto ..."
1353238,"{'player': {'id': 6590, 'name': 'Norberto Mura...","{'player': {'id': 11634, 'name': 'Cristiano Pi...","{'player': {'id': 6891, 'name': 'Ezequiel Marc...","{'player': {'id': 6746, 'name': 'Gabriel Arman...","{'player': {'id': 6587, 'name': 'Antonio Lator...","{'player': {'id': 6797, 'name': 'Daniel Wass'}...","{'player': {'id': 3437, 'name': 'Francis Coque...","{'player': {'id': 6595, 'name': 'Daniel Parejo...","{'player': {'id': 5186, 'name': 'Denis Cherysh...","{'player': {'id': 5718, 'name': 'Rodrigo Moren...","{'player': {'id': 6401, 'name': 'Kevin Gameiro..."
1353239,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353240,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353241,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1488621,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488622,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488623,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488624,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488625,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
tactics = pd.concat([tactics_df, tactics_player_split], axis=1).drop(columns='tactics')
tactics

,match_id,formation,lineup,player_0,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9,player_10
1353237,16157,433,"[{'player': {'id': 20055, 'name': 'Marc-André ...","{'player': {'id': 20055, 'name': 'Marc-André t...","{'player': {'id': 6374, 'name': 'Nélson Cabral...","{'player': {'id': 5213, 'name': 'Gerard Piqué ...","{'player': {'id': 6332, 'name': 'Thomas Vermae...","{'player': {'id': 6379, 'name': 'Sergi Roberto...","{'player': {'id': 5470, 'name': 'Ivan Rakitić'...","{'player': {'id': 13599, 'name': 'Carles Aleña...","{'player': {'id': 8206, 'name': 'Arturo Erasmo...","{'player': {'id': 5503, 'name': 'Lionel Andrés...","{'player': {'id': 3501, 'name': 'Philippe Cout...","{'player': {'id': 5246, 'name': 'Luis Alberto ..."
1353238,16157,442,"[{'player': {'id': 6590, 'name': 'Norberto Mur...","{'player': {'id': 6590, 'name': 'Norberto Mura...","{'player': {'id': 11634, 'name': 'Cristiano Pi...","{'player': {'id': 6891, 'name': 'Ezequiel Marc...","{'player': {'id': 6746, 'name': 'Gabriel Arman...","{'player': {'id': 6587, 'name': 'Antonio Lator...","{'player': {'id': 6797, 'name': 'Daniel Wass'}...","{'player': {'id': 3437, 'name': 'Francis Coque...","{'player': {'id': 6595, 'name': 'Daniel Parejo...","{'player': {'id': 5186, 'name': 'Denis Cherysh...","{'player': {'id': 5718, 'name': 'Rodrigo Moren...","{'player': {'id': 6401, 'name': 'Kevin Gameiro..."
1353239,16157,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353240,16157,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353241,16157,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488621,16190,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488622,16190,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488623,16190,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488624,16190,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1488625,16190,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
tactics_df = tactics.drop(columns='match_id')
tactics_df.head()

,formation,lineup,player_0,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9,player_10
1353237,433,"[{'player': {'id': 20055, 'name': 'Marc-André ...","{'player': {'id': 20055, 'name': 'Marc-André t...","{'player': {'id': 6374, 'name': 'Nélson Cabral...","{'player': {'id': 5213, 'name': 'Gerard Piqué ...","{'player': {'id': 6332, 'name': 'Thomas Vermae...","{'player': {'id': 6379, 'name': 'Sergi Roberto...","{'player': {'id': 5470, 'name': 'Ivan Rakitić'...","{'player': {'id': 13599, 'name': 'Carles Aleña...","{'player': {'id': 8206, 'name': 'Arturo Erasmo...","{'player': {'id': 5503, 'name': 'Lionel Andrés...","{'player': {'id': 3501, 'name': 'Philippe Cout...","{'player': {'id': 5246, 'name': 'Luis Alberto ..."
1353238,442,"[{'player': {'id': 6590, 'name': 'Norberto Mur...","{'player': {'id': 6590, 'name': 'Norberto Mura...","{'player': {'id': 11634, 'name': 'Cristiano Pi...","{'player': {'id': 6891, 'name': 'Ezequiel Marc...","{'player': {'id': 6746, 'name': 'Gabriel Arman...","{'player': {'id': 6587, 'name': 'Antonio Lator...","{'player': {'id': 6797, 'name': 'Daniel Wass'}...","{'player': {'id': 3437, 'name': 'Francis Coque...","{'player': {'id': 6595, 'name': 'Daniel Parejo...","{'player': {'id': 5186, 'name': 'Denis Cherysh...","{'player': {'id': 5718, 'name': 'Rodrigo Moren...","{'player': {'id': 6401, 'name': 'Kevin Gameiro..."
1353239,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353240,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353241,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#tactics_player_split.iloc[0, 0]

In [28]:
#type(tactics_player_split.iloc[0, 0])

In [29]:
#progress = pd.json_normalize(eval(tactics_df.iloc[0, 1]), 'lineup')
#progress.index = progress.index + 1
#progress

# Export 'tactics' dataframe to CSV

In [57]:
#tactics = tactics.to_csv('../data/cleaned-data/tactics.csv', index=False)

# Concat dataframes back together & then drop redundant columns

In [54]:
events20182019 = pd.concat([events20182019, type_df, play_pattern_df, team_df, player_df, position_df, tactics_df], axis=1).drop(
columns = ['type', 'play_pattern', 'team', 'player', 'tactics', 'position'])

In [56]:
events20182019.head()

,season_name,match_id,id,index,period,minute,second,duration,related_events,location,pass,carry,under_pressure,dribble,ball_receipt,out,clearance,duel,miscontrol,shot,goalkeeper,counterpress,ball_recovery,foul_won,off_camera,foul_committed,block,interception,substitution,bad_behaviour,50_50,injury_stoppage,half_start,player_off,half_end,type_id,type_name,play_pattern_id,play_pattern_name,team_id,team_name,player_id,player_name,position_id,position_name,formation,lineup,player_0,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9,player_10
1353237,2018/2019,16157,41c370df-e684-4c08-a70e-b1fe4ccfce25,1,1,0,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,Starting XI,1,Regular Play,217,Barcelona,0,0,0,0,433,"[{'player': {'id': 20055, 'name': 'Marc-André ...","{'player': {'id': 20055, 'name': 'Marc-André t...","{'player': {'id': 6374, 'name': 'Nélson Cabral...","{'player': {'id': 5213, 'name': 'Gerard Piqué ...","{'player': {'id': 6332, 'name': 'Thomas Vermae...","{'player': {'id': 6379, 'name': 'Sergi Roberto...","{'player': {'id': 5470, 'name': 'Ivan Rakitić'...","{'player': {'id': 13599, 'name': 'Carles Aleña...","{'player': {'id': 8206, 'name': 'Arturo Erasmo...","{'player': {'id': 5503, 'name': 'Lionel Andrés...","{'player': {'id': 3501, 'name': 'Philippe Cout...","{'player': {'id': 5246, 'name': 'Luis Alberto ..."
1353238,2018/2019,16157,7aee1529-ec45-4df3-8e90-7305381f119e,2,1,0,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,Starting XI,1,Regular Play,207,Valencia,0,0,0,0,442,"[{'player': {'id': 6590, 'name': 'Norberto Mur...","{'player': {'id': 6590, 'name': 'Norberto Mura...","{'player': {'id': 11634, 'name': 'Cristiano Pi...","{'player': {'id': 6891, 'name': 'Ezequiel Marc...","{'player': {'id': 6746, 'name': 'Gabriel Arman...","{'player': {'id': 6587, 'name': 'Antonio Lator...","{'player': {'id': 6797, 'name': 'Daniel Wass'}...","{'player': {'id': 3437, 'name': 'Francis Coque...","{'player': {'id': 6595, 'name': 'Daniel Parejo...","{'player': {'id': 5186, 'name': 'Denis Cherysh...","{'player': {'id': 5718, 'name': 'Rodrigo Moren...","{'player': {'id': 6401, 'name': 'Kevin Gameiro..."
1353239,2018/2019,16157,90230d70-9d63-40aa-a70f-7a921552c687,3,1,0,0,0.000000,['c1665939-5715-4df2-86fb-e4df9bf42e88'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,Half Start,1,Regular Play,207,Valencia,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353240,2018/2019,16157,c1665939-5715-4df2-86fb-e4df9bf42e88,4,1,0,0,0.000000,['90230d70-9d63-40aa-a70f-7a921552c687'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,Half Start,1,Regular Play,217,Barcelona,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353241,2018/2019,16157,362d3a69-2625-46df-a727-53089dc0cf4b,5,1,0,0,1.269367,['41698dda-90cb-423f-8537-f3d12b6b7119'],"[61.0, 41.0]","{'recipient': {'id': 6595, 'name': 'Daniel Par...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,Pass,9,From Kick Off,207,Valencia,6401,Kevin Gameiro,24,Left Center Forward,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Build function to run cleaning on whole 'events' dataframe

In [2]:
def clean_events_data(df):
        
    #Move 'match_id' & 'season_id columns to front of DF'
    col_name2='match_id'
    second_col = df.pop(col_name2)
    df.insert(0, col_name2, second_col)
    col_name='season_name'
    first_col = df.pop(col_name)
    df.insert(0, col_name, first_col)

    #First column drops
    df = df.drop(columns=['timestamp', 'possession', 'possession_team'])

    #Subset columns that need splitting 
    type_df = df['type'].apply(pd.Series)
    play_pattern_df = df['play_pattern'].apply(pd.Series)
    team_df = df['team'].apply(pd.Series)
    player_df = df['player'].apply(pd.Series)
    position_df = df['position'].apply(pd.Series)

    #Fill null values where required
    player_df[0] = player_df[0].fillna(str({'id': 0, 'name': 0}))
    position_df[0] = position_df[0].fillna(str({'id': 0, 'name': 0}))

    #Split columns and drop redundant columns
    type_df['type_id'] = type_df[0].apply(lambda x: eval(x)['id'])
    type_df['type_name'] = type_df[0].apply(lambda x: eval(x)['name'])
    type_df = type_df.drop([0], axis=1)
    play_pattern_df['play_pattern_id'] = play_pattern_df[0].apply(lambda x: eval(x)['id'])
    play_pattern_df['play_pattern_name'] = play_pattern_df[0].apply(lambda x: eval(x)['name'])
    play_pattern_df = play_pattern_df.drop([0], axis=1)
    team_df['team_id'] = team_df[0].apply(lambda x: eval(x)['id'])
    team_df['team_name'] = team_df[0].apply(lambda x: eval(x)['name'])
    team_df = team_df.drop([0], axis=1)
    player_df['player_id'] = player_df[0].apply(lambda x: eval(x)['id'])
    player_df['player_name'] = player_df[0].apply(lambda x: eval(x)['name'])
    player_df = player_df.drop([0], axis=1)
    position_df['position_id'] = position_df[0].apply(lambda x: eval(x)['id'])
    position_df['position_name'] = position_df[0].apply(lambda x: eval(x)['name'])
    position_df = position_df.drop([0], axis=1)

    #Concat dataframes back togther and drop redundant columns
    df = pd.concat([df, type_df, play_pattern_df, team_df, player_df, position_df], axis=1).drop(
        columns = ['type', 'play_pattern', 'team', 'player', 'position'])

    #Special cleaning required on 'tactics' subset
    tactics_df = df[['match_id', 'type_id', 'type_name', 'team_name', 'tactics']]
    tactics_df['tactics'] = tactics_df['tactics'].fillna(str({'formation': 0, 'lineup': 0}))

    import ast
    tactics_df['tactics'] = [ast.literal_eval(i) for i in tactics_df['tactics']]
    tactics_df['formation'] = [tactics_df['tactics'].iloc[i]['formation'] for i in range(len(tactics_df['tactics']))]
    tactics_df['lineup'] = [tactics_df['tactics'].iloc[i]['lineup'] for i in range(len(tactics_df['tactics']))]
    tactics_player_split = tactics_df['lineup'].apply(pd.Series).add_prefix('player_')
    tactics_df = pd.concat([tactics_df, tactics_player_split], axis=1).drop(columns='tactics')
    
    #Concat dataframes back togther and drop redundant columns
    df = pd.concat([df, tactics_df], axis=1).drop(columns = ['tactics'])

    #Save cleaned dataframe to CSV file
    df = df.to_csv('../data/cleaned-data/events_cleaned.csv', index=False)

In [ ]:
clean_events_data(events)